div(class="card")
  div(class="card-body")
    div !{item.contents}
    br
    p
      em #{__('Updated: %s', item.date.toString())}
  div(class="card-footer")
    h4
      a(href=item.url) #{__('Go to site')}
