doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(type='text/javascript', src='jquery/dist/jquery.min.js')
    script(type='text/javascript', src='bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/handlers.js')
    link(rel='icon', type='image/png', href='images/nanoRSS-favicon.png')
  body
    block content
