doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(type='text/javascript', src='bower/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='bower/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/loaditem.js')
  body
    block content
