doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', type='text/css', href='bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript', src='jquery/dist/jquery.min.js')
    script(type='text/javascript', src='popper/dist/popper.min.js')
    script(type='text/javascript', src='bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/handlers.js')
    link(rel='icon', type='image/png', href='images/nanoRSS-favicon.png')
  body
    block content
